@import './style.scss';
body{
    font-family: 'Noto Sans TC', sans-serif;
    @include chartWidth();
}
h2{
    color: red;
}
.text{
    color: $blackColor;
    margin: 0;
    height: 50px;
    // text-align: center;
    line-height: 50px;
    font-size: 50px;
    font-family: 'Jost', sans-serif;
}
.timeToGroup,.timeGetGroup,.timeSetGroup{
    color: $gray600Color;
    width: 100%;
    @media screen and(max-width:1000px) {
        max-width:1000px ;
    }

    .yyyymmdd{
        display: flex;
        align-items: center;
        @media screen and(max-width:1000px) {
            flex-wrap: wrap;
            .time{
                margin:calc($gap/4) 0;
            }
            p{
                display: none;
            }
        }

        >div{
            width: 100%;
            margin: calc($gap/4) $gap;
            &:first-child{
                margin-left:0 ;
            }
            &:last-child{
                margin-right:0 ;
            }
        }
        p{
            margin: 0;
        }
    }
}
.time{
    font-family: 'Jost', sans-serif;
    border: 1px solid $gray200Color;
    border-radius: $gap;
    margin: calc($gap/2) 0;
    &.convert{
        color:$blackColor;
        border-color:$gray400Color ;
    }

    >div{
        padding: calc($gap/2) $gap;
        
    }

    .title{
        font-family: 'Noto Sans TC', sans-serif;
        font-weight: 500;
        border-radius: 0 0 $gap $gap;
        // border: 2px solid $whiteColor;
        border-top: 0;
        background-color: $gray150Color;
        color: $whiteColor;
        display: none;
        white-space:nowrap;
        @include CODEchartWidth();

        span{
            color: $lightYellowColor;
            @include CODEchartWidth();
            &.convert{
                color:$gray800Color;
                @include CODEchartWidth();
            }
        }
        
    }
}

.show{
    // display: none;
}