@import './style.scss';
body{
    font-size: $word14;
    text-align: center;
    margin: 0 auto;
}
.snakeGame{
    position: relative;
}
p{
    margin: 0;
    font-size: $notes12;;
    padding-top: .5rem;
    color: $gray400Color;
    @include chartWidth();
    a{
        color: orchid;
        text-decoration: none;
    }
}
#board{
    position: relative;
}
.restart{
    cursor: pointer;
    top: 58%;
    left: 45%;
    font-size: $head20;
    font-weight: 800;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: .12rem;
    text-indent: .12rem;
    color: transparent;
    background: linear-gradient(45deg,  rgb(217, 109, 38) 0%, rgb(105, 229, 149) 55%,rgb(36, 109, 137) 85%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-stroke: .5px white;
}